accelerate==1.12.0
datasets==4.4.1
deepspeed==0.18.2
peft==0.18.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
trackio==0.10.0
transformers==4.57.3
triton==3.4.0
trl==0.25.1
vllm==0.10.2
socksio
math-verify
wandb
fire
numpy==2.2